@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Montserrat:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: Manrope, Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul, li {
list-style: none;
  padding: 0;
  margin: 0;
}


img {
  display: block;
}

address {
  font-style: normal;
}

:root {
  --primary-text-color: #121417;
  --accent-text-color: #3470FF;
  --hover-text-color:#293145;
  --secondary-text-color: rgba(18, 20, 23, 0.5);
  --white-text-color: #FFFFFF;
  --primary-background-color:#3470FF;
  --hover-background-color:#0B44CD;
}